<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Carl-Eric Sepp, veebiprogrammeerimimine 2023, miks nii pikk?</title>
</head>
<body>
    <img src="https://greeny.cs.tlu.ee/~rinde/media/pics/banner/vp_banner_2023.png" alt="veebiprogrammeerimimise kursuse bänner">
    <h1>Carl-Eric Sepp</h1>
    <p>See veebileht on valminud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudi informaatika eriala õppetöö raames</p>
    <p>See ei ole saladus, et olin siin ;)</p>
    <hr>
    <p style="font-size:larger; color: blue;">Kursus, mille raames leht tehti on: veebiprogrammeerimine</p>
    <hr>
</body>
</html>