<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Carl-Eric Sepp, veebiprogrammeerimimine 2023, miks nii pikk?</title>
</head>
<body>
    <img src="banner/vp_banner_2023.png" alt="veebiprogrammeerimimise kursuse b채nner">
    <h1><%= h1 %></h1>
    <ul>
        <!--Teeme ejs ts체kli, mis k천ib l채bi massiivi wisdoms-->
        <% names.forEach (function(sentance){ %>
            <li><%= sentance %></li>
        <%});%>
    </ul>
    <p>See ei ole saladus, et olin siin ;)</p>
    <hr>
    <ul>
        <li><a href="/">Avalehele</a></li>
    </ul>
    <hr>
</body>
</html>